<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Management</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:fragment="navigation-bar">
    <div class="navbar">
        <a href="#" th:href="@{/}">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Products
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#" th:href="@{/product/productList}">Show all products</a>
                <a href="#" th:href="@{/product/addProduct}">Create product</a>
                <a href="#" th:href="@{/product/findProduct}">Find product</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Vendor
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#" th:href="@{/vendor/vendorList}">Show all vendors</a>
                <a href="#" th:href="@{/vendor/addVendor}">Create vendor</a>
                <a href="#" th:href="@{/vendor/findVendor}">Find vendor</a>
            </div>
        </div>
        <div class="dropdown" th:if="${#request.isUserInRole('ROOT') or #request.isUserInRole('ADMIN')}">
            <button class="dropbtn">User
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#" th:href="@{/user/userList}">Show all users</a>
                <a href="#" th:href="@{/user/addUser}">Create user</a>
                <a href="#" th:href="@{/user/findUser}">Find user</a>
            </div>
        </div>
        <div class="dropdown" style="float: right">
            <button class="dropbtn"><span th:text="${#request.getUserPrincipal().name}">Username</span>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#" th:href="@{/user/updatePage(username=${#request.getUserPrincipal().name})}">User settings</a>
                <a href="#" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
