<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:insert="fragment/navigation-bar::navigation-bar"></div>
<h4>Hello to site!</h4>
</body>
</html>