<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create product</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>

    <div id="stylized" class="myform">
        <form id="form" name="form" method="post" action="#" th:action="@{/product/addProduct}" th:object="${product}">
            <h1 style="alignment: center">Create product form</h1>

            <label for="name">Product name
                <span class="small">Enter name</span>
            </label>
            <input th:field="*{name}" type="text" name="name" id="name"/>

            <label for="price">Product price
                <span class="small">Price</span>
            </label>
            <input th:field="*{price}" type="number" step="any" name="price" id="price"/>

            <label for="vendorId">Select vendor
                <span class="small">Vendor</span>
            </label>
            <select name="vendorId" id="vendorId" title="vendor">
                <option th:each="option : ${vendors}"
                        th:value="${option.id}"
                        th:text="${option.name}">
                    'vendors'
                </option>
            </select>

            <button type="submit" class="button">Add</button>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
            <div class="spacer"></div>
        </form>
    </div>

</div>
</body>
</html>