<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div  class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <h3>All existing products:</h3>
    <div>
        <table class="zui-table">
            <thead>
            <tr>
                <th>Product name</th>
                <th>Product price</th>
                <th>Product vendor</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td><a href="#" th:href="@{/product/{id}/details(id=*{product.id})}"> <span th:text="*{product.name}">Name</span> </a></td>
                    <td><span th:text="*{product.price}">Price</span> </td>
                    <td th:if="*{product.vendor != null}"><span th:text="${product.vendor.name}">Vendor name</span> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>