<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:insert="fragment/navigation-bar::navigation-bar"></div>
<div  class="show-all">
    <h3>Product details:</h3>
    <div th:if="${product != null}">
        <table class="zui-table">
            <thead>
            <tr>
                <th>Product name</th>
                <th>Product price</th>
                <th>Product vendor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${product.name}">Name</span></td>
                <td><span th:text="${product.price}">Price</span> </td>
                <td th:if="${product.vendor != null}">
                    <a href="#" th:href="@{/vendor/{id}/details(id=*{product.vendor.id})}">
                    <span th:text="${product.vendor.name}">Vendor</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/product/{id}/updatePage(id=${product.id})}" class="button" role="button" tabindex="0">Update product</a>
        <a href="#" th:href="@{/product/{id}/delete(id=${product.id})}" class="button" role="button" tabindex="0">Delete</a>
    </div>
</div>
</body>
</html>