<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Find user</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div  class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <div id="stylized" class="myform">
        <form id="form" name="form" action="#" th:action="@{/user/find}">
            <h1 style="alignment: center" >Find user by username:</h1>

            <label for="email">Username
                <span class="small">Enter email</span>
            </label>
            <input type="text" name="email" id="email" />
            <button type="submit" class="button">Find</button>
            <div class="has-error"  th:if="${error != null}"><span th:text="${error}">Some error occurred.</span> </div>
            <div class="spacer"></div>
        </form>
    </div>
</div>
</body>
</html>