<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create user</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <div id="stylized" class="myform">
        <form id="form" name="form" method="post" action="#" th:action="@{/user/addUser}" th:object="${user}">
            <h1 style="alignment: center">Create user form</h1>

            <label for="firstName">User first name
                <span class="small">First name</span>
            </label>
            <input th:field="*{firstName}" type="text" name="firstName" id="firstName" />
            <span th:if="${#fields.hasErrors('firstName')}" th:text="*{firstName}">Error</span>

            <label for="lastName">User last name
                <span class="small">Last name</span>
            </label>
            <input th:field="*{lastName}" type="text" name="lastName" id="lastName"/>

            <label for="email">User email
                <span class="small">Email(login)</span>
            </label>
            <input th:field="*{email}" type="text" name="email" id="email"/>

            <label for="password">Set password
                <span class="small">Password</span>
            </label>
            <input th:field="*{password}" type="password" name="password" id="password"/>

            <button type="submit" class="button">Add</button>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
            <div class="spacer"></div>
        </form>
    </div>
</div>
</body>
</html>