<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <h3>All existing users:</h3>
    <div>
        <table class="zui-table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>User email</th>
                <th th:if="${#request.isUserInRole('ROOT')}">User roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <a href="#" th:href="@{/user/{id}/details(id=*{user.id})}"><span th:text="${user.firstName}">
                        First name</span>
                    </a>
                </td>
                <td><span th:text="${user.lastName}">First name</span></td>
                <td><span th:text="${user.email}">Email</span></td>
                <td th:if="${#request.isUserInRole('ROOT')}">
                    <ul>
                        <li th:each="role : ${user.userRoles}"><span th:text="*{role.role}">Role</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>