<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:insert="fragment/navigation-bar::navigation-bar"></div>
<div class="show-all">
    <h3>User details:</h3>
    <div th:if="${user != null}">
        <table class="zui-table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>User email</th>
                <th th:if="${#request.isUserInRole('ROOT')}">User roles</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${user.firstName}">First name</span></td>
                <td><span th:text="${user.lastName}">First name</span></td>
                <td><span th:text="${user.email}">Email</span></td>
                <td th:if="${#request.isUserInRole('ROOT')}">
                    <ul>
                        <li th:each="role : ${user.userRoles}"><span th:text="${role.role}">Role</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/user/{id}/updatePage(id=${user.id})}" class="button" role="button" tabindex="0">
            Update user</a>
        <a th:if="${#request.isUserInRole('ROOT')}" href="#" th:href="@{/user/{id}/updateRole(id=${user.id})}"
           class="button" role="button" tabindex="0">Update roles</a>
        <a href="#" th:href="@{/user/{id}/delete(id=${user.id})}" class="button" role="button" tabindex="0">Delete</a>
    </div>
</div>
</body>
</html>