<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:insert="fragment/navigation-bar::navigation-bar"></div>
<div class="show-all">
    <h3>User details:</h3>
    <div th:if="${user != null}">
        <table class="zui-table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>User email</th>
                <th>User roles</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${user.firstName}">First name</span></td>
                <td><span th:text="${user.lastName}">First name</span></td>
                <td><span th:text="${user.email}">Email</span></td>
                <td>
                    <ul>
                        <li th:each="role : ${user.userRoles}"><span th:text="${role.role}">Role</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <form id="form" name="form" method="post" action="#" th:action="@{/user/{id}/updateRole(id=${user.id})}"
              th:object="${user}">
            <h1 style="alignment: center">Update roles</h1>
            <ul>
                <li th:each="role : ${roles}">
                    <input type="checkbox" value="" th:field="*{userRoles}" th:value="${role.id}" th:name="${role.role}">
                    <label th:text="${role.role}">Role</label>
                </li>
            </ul>
            <button type="submit" class="button">Update</button>
            <div class="spacer"></div>
        </form>
    </div>
</div>
</body>
</html>