<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update User</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <div id="stylized" class="myform">
        <form id="form" name="form" method="post" action="#" th:action="@{/user/{id}/update(id=${user.id})}"
              th:object="${user}">
            <h1 style="alignment: center">Update user form</h1>

            <label for="firstName">First name
                <span class="small">Enter first name</span>
            </label>
            <input th:field="*{firstName}" type="text" name="firstName" id="firstName" value="" th:value="${user.firstName}"/>

            <label for="lastName">Last name
                <span class="small">Enter last name</span>
            </label>
            <input th:field="*{lastName}" type="text" name="lastName" id="lastName" value="" th:value="${user.lastName}"/>

            <label for="email">Email
                <span class="small">Enter email</span>
            </label>
            <input th:field="*{email}" type="text" name="email" id="email" value="" th:value="${user.email}"/>

            <label for="password">Password
                <span class="small">Password</span>
            </label>
            <input type="text" th:name="password" th:id="password" id="password" th:value="password"/>

            <button type="submit" class="button">Update</button>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
            <div class="spacer"></div>
        </form>
    </div>

</div>
</body>
</html>