<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:insert="fragment/navigation-bar::navigation-bar"></div>
<div  class="show-all">
    <h3>Vendor details:</h3>
    <div th:if="${vendor != null}">
        <table class="zui-table">
            <thead>
            <tr>
                <th>Vendor name</th>
                <th>Products</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${vendor.name}">Name</span></td>
                <td>
                    <ul>
                        <li th:each="product : ${vendor.products}">
                            <a href="#" th:href="@{/product/{id}/details(id=*{product.id})}">
                            <span th:text="*{product.name}">Product</span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/vendor/{id}/updatePage(id=${vendor.id})}" class="button" role="button" tabindex="0">Update vendor</a>
        <a href="#" th:href="@{/vendor/{id}/delete(id=${vendor.id})}" class="button" role="button" tabindex="0">Delete</a>
    </div>
</div>
</body>
</html>