<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vendors</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div  class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <h3>All existing vendors:</h3>
    <div>
        <table class="zui-table">
            <thead>
            <tr>
                <th>Vendor name</th>
                <th>Products count</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vendor : ${vendors}">
                <td><a href="#" th:href="@{/vendor/{id}/details(id=*{vendor.id})}"> <span th:text="*{vendor.name}">Name</span> </a></td>
                <td><span th:text="${#lists.size(vendor.products)}">0</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>