<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Update vendor</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div  class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <div id="stylized" class="myform">
        <form id="form" name="form" method="post" action="#" th:action="@{/vendor/{id}/update(id=${vendor.id})}" th:object="${vendor}">
            <h1 style="alignment: center" >Create vendor form</h1>
            <label for="name">Vendor name
                <span class="small">Enter name</span>
            </label>
            <input th:field="*{name}" type="text" name="name" id="name" value="" th:value="${vendor.name}" />

            <button type="submit" class="button">Update</button>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
            <div class="spacer"></div>
        </form>
    </div>
</div>
</body>
</html>